@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans:400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
body {
  font-family: "Open Sans", sans-serif;
  margin-left: 265px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

#status
{
  margin:10px;
  padding:10px;
  position: fixed;
  right:10px;
  top:10px;
  z-index: 100500;
}
.statusBlock
{
  margin:10px;
  padding:10px;
  border-radius:1px;
  color: #0071ff;
  background-color: #8ac5ff;
  display: none;
}
.error
{
  color: #db2a19;
  background: #ffb39d;
}
.success
{
  color: #008000;
  background: #9eff86;
}
.formColumn {
  margin: 10px;
}
a {
  color:#330;
}
a:hover
{
  color:#699;
}
button {
  background:#FFCC00;
  border:1px solid #FF9900;
  font-family: "Playfair Display", serif;
  margin: 10px;
  font-size: 1em;
  color: #000000;
}
.irony {
  color: #cc3333;
  font-style: italic;
}
.username {
  color: #810;
}
.autograph {
  color: gray;
  font-size: 80%;
  background: #f2f2f2;
  padding: 10px;
  display: inline-block !important;
  border-radius: 3px;
}
.post, .comment {
  margin: 7px;
  padding: 7px;
}
.post > .text, .comment > .text {
  overflow: auto;
}
#pagination {
  overflow: auto;
  padding: 20px;
}
#pagination > table > tbody > tr > td > .router-link-exact-active {
  padding: 4px;
  background: #333;
  color: white;
}
#pagination > table > tbody > tr > td > a {
  text-decoration: none;
  padding: 4px;
  margin: 5px;
}
#pagination > table > tbody > tr > td > a:hover {
  background-color: #810;
  color: white;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
textarea {
  width: 500px;
  height: 150px;
}
hr {
  border: 0.5px solid gray;
  opacity: 0.5;
}
.bigred, .bkb {
  font-weight: bold;
  font-size: 60px;
  color: red;
  font-family: 'Courier New', Courier, mono
}
.bnb {
  font-weight: bold;
  font-size: 60px;
  color: #09B7E1;
  font-family: 'Courier New', Courier, mono
}
